@import "/Nav/nav.scss";
@import "/Product/product.scss";
@import "/Cart/cart.scss";
@import "/Cart/cartActive.scss";
html,
body {
  margin: 0;
  padding: 0;
}

.screen {
  position: relative;
  background: black;
  width: auto;
  height: 100vh;
  overflow: hidden;
  font-family: "Helvetica";
  .bg_img {
    position: absolute;
    // top: 22;
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/35/30/3YhTx1.jpg");
    background-size: cover;
    background-color: black;
    height: 20rem;
    width: 100%;
    filter: contrast(140%) brightness(36%);
    z-index: 10;
  }
  .logo_topImg {
    position: absolute;
    // top: 22;
    width: 15rem;
    margin-top: 1.5rem;
    padding-left: 6rem;
    z-index: 330;
  }
}

.product_container {
  margin-right: 25%;
  // width: 57rem;
  height: auto;
  z-index: 999;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 6rem;
  margin-top: 10rem;
}
